*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/*bannar */
.bannar{
    margin-top: 0;
    background-image: url('../images/banner/banner1.png');   
    padding: 2px 2px 300px 2px;
}
.bannar-title{
    text-align: right;
}
.bannar-title-1{
    font-weight: 700;
    font-size: 65px;
    color: black;
    padding-top: 2O0px;
    margin: 215px 230px 24px 845px;
}
.bannar-title-2{
    font-weight: 400;
    font-size: 16px;
    color: #444343; 
    padding: 30px 230px 24px 876px;
}
.primary-btn{
    color: blue;
    background-color: orange;
    border: none;
    font-weight: 600;
font-size: 20px;
width: 160px;
height: 64px;
border-radius: 5px;
margin-right: 230px;
}
/*section-1*/
ul{
    list-style: none;
}
li::before{
 content: "\2713";
 color: green;
}
.sec-1-part-1{
    text-align: center;
   padding-top: 130px;
    padding-right: 200px;
    margin-left: 20px; 
   
}
.sec-1-tit-1{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding: 25px;
    margin-top: 250px;
}
.sec-1-tit-2{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding: 20px;
}
.section-1{
    display: flex; 
    gap: 4;
}
.sec-1-part-2{
    margin-left: 210px;
    width: 569px;
    height: 723.3px;
    margin-top: 130px;
}.sec-1-tit-3{
    font-weight: 400;
    font-size: 16px;
    color: #444343
}/*plans section*/
.plans-container{
    display: flex;
    gap: 130px;
    padding-left: 200px;
}
.title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;

}.description{
    font-weight: 500;
    font-size: 25px;
} 
.my-plans{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 50px;
}
.extra-notes{
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
}
.heading{
    color: red;
    padding-bottom: 15px;
}
.explanation{
    background-color: yellow;
    padding-bottom: 30px;
}