*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    
    
}
/*bannar */
.bannar{
    margin-top: 0;
    background-image: url('../images/banner/banner1.png');   
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2px 2px 300px 50px;

}
.bannar-title{
    text-align: right;
   
}
.bannar-title-1{
    font-weight: 700;
    font-size: 65px;
    color: black;
    padding-top: 200px;
    margin: 215px 230px 24px 845px;
}
.bannar-title-2{
    font-weight: 400;
    font-size: 16px;
    color: #444343; 
    padding: 30px 230px 24px 876px;
}
.primary-btn{
    color: blue;
    background-color: orange;
    border: none;
    font-weight: 600;
font-size: 20px;
width: 160px;
height: 64px;
border-radius: 5px;
margin-right: 230px;
}
/*section-1*/
ul{
    list-style: none;
}
li::before{
 content: "\2713";
 color: orangered;
}
.sec-1-part-1{
    text-align: center;
   padding-top: 130px;
    padding-right: 200px;
    margin-left: 20px; 
   
}
.sec-1-tit-1{
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    padding: 250px;
    margin-top: 250px;
}
.sec-1-tit-2{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    padding: 20px;
}
.section-1{
    display: flex; 
    gap: 4;
}
.sec-1-part-2{
    margin-left: 210px;
    width: 569px;
    height: 723.3px;
    margin-top: 130px;
}.sec-1-tit-3{
    font-weight: 400;
    font-size: 16px;
    color: #444343

}/*plans section*/
.plans-container{
    display: flex;
    gap: 130px;
    padding-left: 550px;
}
.title{
    font-weight: 700;
    font-size: 30px;
    color: #151414;

}.description{
    font-weight: 500;
    font-size: 25px; 
} 
.my-plans{
    font-weight: 700;
    font-size: 80px;
    color: #151414;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 80px;
    padding-right: 650px;
}
.extra-notes{
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
}
.heading{
    color: red;
    padding-bottom: 15px;
}
td{
    border: 5px solid black;
}
.description{
    padding-left: 40%;
    padding-bottom: 40px;
}
/*gradiant*/

#gradiant{

    background-image: linear-gradient(to bottom, orange,orangered);
 
   padding: 50px 50px;
    width: 60%;
    height: 100px;
   margin: 50px;
    opacity: 20%;
} 

.gra-part-1{
    text-align: left;
    font-size: 30px;
    color: black;
}
.main-button{
    background-color: white;
    color: orangered; 
    border: none;
    font-weight: 600;
    font-size: 20px;
    width: 160px;
    height: 64px;
    border-radius: 2px;
    margin-right: 230px;
    margin-top: 10px;
 
}
/*footer*/
.footer{
    display: flex;
    background-color: #151414;
    width: 1600px;
    height: 577px;
    top: 2652.26px;
    left: 0px;
}

.form{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 200px;
}
.part-1{
    padding: 130px 80px 130px 230px;
    color: white;
}
.footer-title{
    font-weight: 700;
    font-size: 60px;
    padding-bottom: 30px;
}
.part-2-title{
    color: white;
    font-weight: 600;
    font-size: 60px;
  
}
.part-2{
   
    size: 30px;
    padding: 130px 50px 30px 10px;
}
.part-1-description-1{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    width: 485px;
    height: 78px;
    left: 230px;
    top: 2850.96px;
    
}
.part-1-description-2{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    width: 186px;
    height: 26px;
    left: 230px;
    top: 2994.96px;

}